[Desktop Entry]
Name=gMyClient
Comment=MySql Client
Comment[pl]=Klient MySql
Exec=gmyclient
Icon=gmyclient_icon
Terminal=false
Type=Application
# vi: encoding=utf-8
